@model ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Şifre Değiştir</h1>
            </div>
        </div>
    </div>
</section>
<section class="content p-3">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body register-card-body">
                    <p class="login-box-msg">Şifre değişikliği yapmak için formu doldurunuz.</p>
                    <form asp-controller="User" asp-action="ChangePassword" method="post">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <div class="input-group mb-3">
                            <input asp-for="CurrentPassword" class="form-control" placeholder="Şuanki Şifre">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-key"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="NewPassword" class="form-control" placeholder="Şifre">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Şifre">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Onayla</button>
                            </div>
                        </div>
                    </form>
                    <div class="row text-center mt-4">
                        <div class="col-12">
                            <a asp-controller="Account" asp-action="Login">Vazgeç</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>