@model Blog
@{
    ViewData["Title"] = "DeleteBlog";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (Model != null)
{
    <div class="container pt-5">
        <div class="card">
            <div class="card-header">
                Emin misiniz?
            </div>
            <div class="card-body">
                <h5 class="card-title"><b>"@Model.BlogId"</b> ID'li <b>"@Model.BlogTitle"</b> başlıklı öğeyi silmek istediğinizden emin misiniz ? </h5>
                <p class="card-text"></p>
                <br />
                <form class="text-right" asp-controller="User" asp-action="DeleteBlog" method="post">
                    <a type="button" class="btn btn-primary mr-2" asp-controller="User" asp-action="Blog">Vazgeç</a>
                    <input type="hidden" name="blogId" value="@Model.BlogId" />
                    <button type="submit" class="btn btn-danger">Silmeyi Onaylıyorum</button>
                </form>
            </div>
        </div>
    </div>
}

