
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Hoşgeldiniz @User.Identity.Name!</h1>
    <p class="lead">Veli Yavuz Göçeren'in kişisel ve blog sitesine üye olduğunuz için teşekkür ederim. Blog yazınızı paylaşmamı istiyorsanız soldaki menüden yazınızı gönderebilirsiniz.</p>
    <hr class="my-4">
    <p>Şikeyet ve Önerilerinizi iletmeyi unutmayınız.</p>
</div>