@model Skills
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Yetenek Güncelle</h1>
            </div>
        </div>
    </div>
</section>
<form asp-controller="AdminResume" asp-action="EditSkill" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="SkillsId" />
    <section class="content p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Detaylar</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="SkillTitle">Yetenek Adı</label>
                            <input asp-for="SkillTitle" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="SkillTitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SkillPercent">Yüzde</label>
                            <input asp-for="SkillPercent" class="form-control">
                            <span class="text-danger" asp-validation-for="SkillPercent"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ResumepageId">Hakkımda Sayfası</label>
                            <select asp-for="ResumepageId" asp-items="ViewBag.resumepages" class="form-control">
                                <option disabled selected value="">Hakkımda Sayfası Seçiniz</option>
                            </select>
                            <span class="text-danger" asp-validation-for="ResumepageId"></span>
                        </div>
                        <div class="form-group">
                            <label>Durum</label>
                            <div class="custom-control custom-checkbox">
                                <input asp-for="isApproved" class="custom-control-input" type="checkbox">
                                <label asp-for="isApproved" class="custom-control-label">Aktif</label>
                                <span class="text-danger" asp-validation-for="isApproved"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-12">
                <a asp-controller="AdminResume" asp-action="Skills" class="btn btn-danger btn-lg">Vazgeç</a>
                <input type="submit" value="Kaydet" class="btn btn-success float-right btn-lg">
            </div>
        </div>
    </section>
</form>

