@model Category
@{
    ViewData["Title"] = "DeleteCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Model != null)
{
    <div class="container pt-5">
        <div class="card">
            <div class="card-header">
                Emin misiniz?
            </div>
            <div class="card-body">
                <h5 class="card-title"><b>"@Model.CategoryId"</b> ID'li <b>"@Model.CategoryName"</b> başlıklı öğeyi silmek istediğinizden emin misiniz ? </h5>
                <p class="card-text"></p>
                <br />
                <form class="text-right" asp-controller="AdminPortfolio" asp-action="DeleteCategory" method="post">
                    <a type="button" class="btn btn-primary mr-2" asp-controller="AdminPortfolio" asp-action="Categories">Vazgeç</a>
                    <input type="hidden" name="categoryId" value="@Model.CategoryId" />
                    <button type="submit" class="btn btn-danger">Silmeyi Onaylıyorum</button>
                </form>
            </div>
        </div>
    </div>
}


