@model Settings
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Site Ayarları Ekle</h1>
            </div>
        </div>
    </div>
</section>
<form asp-controller="AdminMetatags" asp-action="Create" method="post" enctype="multipart/form-data">
    <section class="content p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Detaylar</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="SiteTitle">Site Başlığı</label>
                            <input asp-for="SiteTitle" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="SiteTitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SiteAuthor">Site Yazarı</label>
                            <input asp-for="SiteAuthor" class="form-control">
                            <span class="text-danger" asp-validation-for="SiteAuthor"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SiteDescription">Site Açıklaması</label>
                            <textarea asp-for="SiteDescription" class="form-control" rows="4"></textarea>
                            <span class="text-danger" asp-validation-for="SiteDescription"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SiteKeywords">Site Anahtar Kelimeler</label>
                            <textarea asp-for="SiteKeywords" class="form-control" rows="2"></textarea>
                            <span class="text-danger" asp-validation-for="SiteKeywords"></span>
                        </div>

                        <div class="form-group">
                            <label>Site İkonu</label>
                            @if (Model != null)
                            {
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="file" class="custom-file-input" id="file">
                                        <label class="custom-file-label" for="exampleInputFile">@Model.SiteIcon</label>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <label>Durum</label>
                            <div class="custom-control custom-checkbox">
                                <input asp-for="isApproved" class="custom-control-input" type="checkbox">
                                <label asp-for="isApproved" class="custom-control-label">Aktif</label>
                                <span class="text-danger" asp-validation-for="isApproved"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-12">
                <a asp-controller="AdminMetatags" asp-action="Index" class="btn btn-danger btn-lg">Vazgeç</a>
                <input type="submit" value="Kaydet" class="btn btn-success float-right btn-lg">
            </div>
        </div>
    </section>
</form>



