@model Settings
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (Model != null)
{
    <div class="container pt-5">
        <div class="card">
            <div class="card-header">
                Emin misiniz?
            </div>
            <div class="card-body">
                <h5 class="card-title">ID : <b>"@Model.SettingsId"</b> - <b>"@Model.SiteTitle"</b> başlıklı öğeyi silmek istediğinizden emin misiniz ? </h5>
                <p class="card-text"></p>
                <br />
                <form class="text-right" asp-controller="AdminMetatags" asp-action="Delete" method="post">
                    <a type="button" class="btn btn-primary mr-2" asp-controller="AdminMetatags" asp-action="Index">Vazgeç</a>
                    <input type="hidden" name="metatagId" value="@Model.SettingsId" />
                    <button type="submit" class="btn btn-danger">Silmeyi Onaylıyorum</button>
                </form>
            </div>
        </div>
    </div>
}