@model IEnumerable<Experience>
@foreach (var item in Model)
{
    <div class="timeline-item clearfix">
        <div class="left-part">
            <h5 class="item-period">@item.Date</h5>
            <span class="item-company">@item.CompanyName</span>
        </div>
        <div class="divider"></div>
        <div class="right-part">
            <h4 class="item-title">@item.Title</h4>
            <p>@item.Description</p>
        </div>
    </div>
}
