@model MenuType
@{
    ViewData["Title"] = "AddMenuType";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Menu Tipi Ekle</h1>
            </div>
        </div>
    </div>
</section>
<form asp-controller="AdminNavbar" asp-action="AddMenuType" method="post" enctype="multipart/form-data">
    <section class="content p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Detaylar</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="MenuTypeName">Menü Tipi Adı</label>
                            <input asp-for="MenuTypeName" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="MenuTypeName"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-12">
                <a asp-controller="AdminNavbar" asp-action="MenuTypes" class="btn btn-danger btn-lg">Vazgeç</a>
                <input type="submit" value="Kaydet" class="btn btn-success float-right btn-lg">
            </div>
        </div>
    </section>
</form>

