@model Navbar
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Navbar Ekle</h1>
            </div>
        </div>
    </div>
</section>
<form asp-controller="AdminNavbar" asp-action="Create" method="post" enctype="multipart/form-data">
    <section class="content p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Detaylar</h3>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="NavbarTitle">Navbar Başlığı</label>
                            <input asp-for="NavbarTitle" type="text" class="form-control">
                            <span class="text-danger" asp-validation-for="NavbarTitle"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Cpyright">Cpyright</label>
                            <input asp-for="Cpyright" class="form-control">
                            <span class="text-danger" asp-validation-for="Cpyright"></span>
                        </div>
                        <div class="form-group">
                            <label>Navbar Resmi (160x160)</label>
                            @if (Model != null)
                            {
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" name="file" class="custom-file-input" id="file">
                                        <label class="custom-file-label" for="exampleInputFile">@Model.NavbarImage</label>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <label>Durum</label>
                            <div class="custom-control custom-checkbox">
                                <input asp-for="isApproved" class="custom-control-input" type="checkbox">
                                <label asp-for="isApproved" class="custom-control-label">Aktif</label>
                                <span class="text-danger" asp-validation-for="isApproved"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-12">
                <a asp-controller="AdminNavbar" asp-action="Index" class="btn btn-danger btn-lg">Vazgeç</a>
                <input type="submit" value="Kaydet" class="btn btn-success float-right btn-lg">
            </div>
        </div>
    </section>
</form>



