@model Menu
@{
    ViewData["Title"] = "DeleteMenu";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@if (Model != null)
{
    <div class="container pt-5">
        <div class="card">
            <div class="card-header">
                Emin misiniz?
            </div>
            <div class="card-body">
                <h5 class="card-title">ID : <b>"@Model.MenuId"</b> - <b>"@Model.MenuName"</b> başlıklı öğeyi silmek istediğinizden emin misiniz ? </h5>
                <p class="card-text"></p>
                <br />
                <form class="text-right" asp-controller="AdminNavbar" asp-action="DeleteMenu" method="post">
                    <a type="button" class="btn btn-primary mr-2" asp-controller="AdminNavbar" asp-action="Menues">Vazgeç</a>
                    <input type="hidden" name="menuId" value="@Model.MenuId" />
                    <button type="submit" class="btn btn-danger">Silmeyi Onaylıyorum</button>
                </form>
            </div>
        </div>
    </div>
}

